.bannar {
  text-align: center;
  margin-top: 10vh;
  font-size: 3rem;
  color: #242424;
}
.form-con {
  height: 40vh;
  width: 18vw;
  margin: 5vh auto 0 auto;
  background-color: #e4e4e4;
  border-radius: 5px;
  border: 1px solid #242424;
}
.log-form {
  margin: 5vh 2vw;
}
.form-text {
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.2vh;
  border-radius: 5px;
  border: 1px solid #242424;
}
.form-btn {
  width: 100%;
  height: 5vh;
  font-size: 1.3rem;
  margin-top: 0.2vh;
  border-radius: 5px;
  border: 1px solid #242424;
  background-color: #e4e4e4;
}
.form-btn:hover {
  background-color: #242424;
  color: white;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.acc-ask {
  text-align: right;
  margin-right: 2vw;
  font-size: 0.8rem;
  color: #8b8bff;
}
.acc-ask-link {
  text-decoration: none;
}
